@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model SchoolDonations.UserInterface.Pages.IndexModel

<div>BFF Local Razor Pages</div>
<div><a asp-page="/Auth/M2M">Machine to Machine API Call</a></div>
<div><a asp-page="/Auth/OidcIdentity">Oidc Identity</a></div>
<div><a asp-page="/Auth/AuthorizationCodeFlow">Authorization Code Flow API Call</a></div>
<div><a asp-page="/Auth/AuthorizationCodeFlow2">Authorization Code Flow API Call with Automatic Token Lifetime Management</a></div>
<div><a asp-page="/Auth/AuthorizationCodeFlow3">Authorization Code Flow API Call with HttpClient FactoryAutomatic and Token Lifetime Management</a></div>
